* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

@media screen and (max-width: 576px) {
    h1{
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    /* desgn starts */
    .design_content {
        padding: 3rem;
    }

    .design_content>h1 {
        font-size: 2rem;
    }

    .design_content>p {
        font-size: 1rem;
        width: 100%;
    }

    .btn>a {
        font-size: 0.88rem;
        padding: 1rem 1.2rem !important;
    }

    /* ideas start */
    .ideas_content {
        flex-direction: column;
        align-items: center;
        margin: 0 3rem;
        
    }
    .ideas_block{
        flex-direction: column;
       
    }
   
    .ideas_heading > h2 {
        padding: 1rem 0;
        text-align: center;
    }
    .ideas_content>h4 {
        text-align: center;
    }

    .ideas_img>img {
        width: 100%;
    }

    /* retail starts */
    .retail {
        flex-direction: column;
        align-items: center;
       
        margin-top: 6rem;
    }

    .retail_img>img {
        width: 100% !important;
    }

    .retail_img {
        flex-basis: 100%;
    }

    .retail_text {
        flex-basis: 100%;
        padding: 1rem 2rem !important;
    }
    /* products */
    .top_product_heading > h1{
        text-align: center;
     }
    .products{
        margin-top: 3rem;
    }
    .products_content{
        flex-direction: column;
        align-items: center;
    }
    .products_page > h2{
        text-align: center;
        padding-bottom: 3.4rem;
    }
    /* footer */
    .footer_content{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }
    .footer_col_2_2{
        padding: 0;
    }
    /*......................................... story page.........................................  */
    .story{
        flex-direction: column;
        align-items: center;
    }
    .story_heading {
        padding: 6rem 0 6rem 0rem;
    }
    .story_img > img {
        width: 100%;
    }
    .team_heading{
        text-align: center;
    }
    .team_block{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .team_box{
        flex-direction: column;
        align-items: center;
    }
    .block_info {
        padding: 0  2.2rem ;
        text-align: center;
    }
    .customer{
        width: auto;
        margin:  2rem;
    }
    .customer_user{
        flex-direction: column;
        align-items: center;
    }
     /*......................................... contact page.........................................  */
     .contact{
        flex-direction: column;
     align-items: center;
       }
    .contact_form {
        margin: 7.44rem 0 0.5rem 0;
    }
    .company {
        margin: 0 0 8rem 0;
    }
    .company_info{
        flex-direction: column;
        align-items: center;
    }
    .company_address > .company_block_1 , .company_block_2{
        border: none;
    }
    .company_address:first-child{
        border: none;
    }
    .form >input , textarea{
        width: 100% !important;
    }
    .button{
        text-align: center;
    }
    .button > a{
        padding: 1rem 2.8rem;
        
    }
    .company_address:last-child .company_block_2 {
        padding-left: 1rem;
    }
    .company_address:last-child .company_block_1{
        padding-left: 1rem;
    }
    /*......................................... cart page.........................................  */
    .cart{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 3rem ;
    }
    .cart_img >img{
        width: 100%;
     }
    .cart_details{
        
        margin: 0 2rem !important;
    }
    .dropdown{
        display: flex;
        justify-content: space-between !important;
    
     }
     .d_menu{
        top: 3.2rem;
        width: 100%;
        z-index: -1;
     }
    .dropdown::after{
        padding-left: 0rem ;
     }
    .top_btn > a{
     
        width: 100%;
    }
   
    .top_btn > a:first-child > small {
        padding-left: 15.5rem;
    }
    .top_btn > button{
        display: block;
        width: 100%;
        margin: 1.5rem 0;
        text-align: center;
        z-index: 1;
    }
    .modal_details{
        flex-direction: column;
        align-items: center;
    }
    /*......................................... login page.........................................  */
    .login_pg{
        margin: 3rem 2rem;
    }
    .login_form > input{
        width: 100%;
    }
    .login_form >a{
        width: 100%;
    }
    .accounts_signup > a{
        width: 100%;
    }
    hr{
        width: 100%;
    }
    .modal-content{
        width: 100%;
    }
    .modal_img > img {
        width: 100%;
    }
 



    .FAQ_block{
        margin: 7rem 0;
        padding: 0 2rem;
        width: 100%;
    }
    .FAQ_link >img{
        position: absolute;
        left: 27rem;
       
    }
    .top_scroll{
        top: 35rem;
    }
}


@media (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    /* desgn starts */
    .design_content {
        padding: 3rem;
    }
    .design_content>p {
        width: 100%;
     }
    
    /* ideas start */
    .ideas_content {
        flex-direction: column;
        align-items: center;
    }
    .ideas_block{
        flex-direction: column;
       
    }
    .ideas_text{
        padding: 0 3rem;
    }
    .ideas_content>h4 {
        text-align: center;
    }

    /* retail starts */
    .retail {
        flex-direction: column;
        align-items: center;
       
    }

    .retail_img>img {
        width: 100% !important;
    }

    .retail_img {
        flex-basis: 100%;
    }

    .retail_text {
        flex-basis: 100%;
        padding: 1rem 3rem !important;
    }
    /* products */
    .top_product_heading > h1{
        text-align: center;
     }
    .products_content{
        flex-direction: column;
        align-items: center;
    }
    .products{
        margin-top: 3rem;
    }
    .products_page > h2{
        text-align: center;
        padding-bottom: 3.4rem;
    }
    /* footer */
    .footer_content{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }
    .footer_col_2_2{
        padding: 0;
    }
     /*......................................... story page.........................................  */
     .story{
        flex-direction: column;
        align-items: center;
    }
    .story_heading {
        padding: 6rem 0 6rem 0rem;
    }
    .story_img > img {
        width: 100%;
    }
    .team_heading{
        text-align: center;
    }
    .team_block{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .customer{
        width: auto;
        margin: 2rem;
    }
     /*......................................... contact page.........................................  */
     .contact{
        flex-direction: column;
     align-items: center;
       }
    .contact_form {
        margin: 7.44rem 0 0.5rem 0;
    }
    .company {
        margin: 0 0 8rem 0;
    }
     /*......................................... cart page.........................................  */
     .cart{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 3rem ;
    }
    .cart_img >img{
        width: 100%;
     }
    .cart_details{
        width: 30rem;
        margin: 0 auto;
    }
    .dropdown{
        display: flex !important;
        justify-content: space-between;
    
     }
     .d_menu{
        width: 100%;
        z-index: -1;
     }
     .dropdown::after{
        padding-left: 0rem !important;
     }
    .top_btn > a{
        width: 100%;
    }
  
    .top_btn > a:first-child > small {
        padding-left: 22.5rem;
    }
    .top_btn > button{
        /* display: block; */
        width: 100%;
        margin: 1.5rem 0;
        text-align: center;
        z-index: 1;
    }
    .modal_details{
        flex-direction: column;
        align-items: center;
    }
    .modal_img > img {
        width: 100%;
    }

    .FAQ_block{
        margin: 7rem 2rem;
        width: 32rem;
    }
    .FAQ_link >img{
        position: absolute;
        left: 29rem;
       
    }
}

@media (min-width: 767px) and (max-width: 992px) {
    .container {
        width: 100%;
        margin: 0 auto;

    }

    .nav {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    /* desgn starts */
    .design_content {
        padding: 3rem;
    }

    .design_content>p {
       width: 100%;
    }

    /* ideas start */
    .ideas_content {
        flex-direction: column;
        align-items: center;
    }
    .ideas_block{
        flex-direction: column;
       
    }
    .ideas_text{
        padding: 0 7rem;
    }
    .ideas_content>h4 {
        text-align: center;
    }

    /* retail starts */
    .retail {
        flex-direction: column;
        align-items: center;
       
    }

    .retail_img>img {
        width: 100% !important;
    }

    .retail_img {
        flex-basis: 100%;
    }

    .retail_text {
        flex-basis: 100%;
        padding: 0rem 0 0rem 4.5rem !important;
    }
    /* products */
    .top_product_heading > h1{
       text-align: center;
    }
    .products_content{
        flex-direction: column;
        align-items: center;
    }
    .products{
        margin-top: 3rem;
    }
    .products_page > h2{
        text-align: center;
        padding-bottom: 3.4rem;
    }
    /* footer */
    .footer_bg {
        padding: 3rem 2rem;
    }
    .footer_content{
        gap: 3rem;
    }
    /*......................................... story page.........................................  */
    .story{
        flex-direction: column;
        align-items: center;
    }
    .story_heading {
        padding: 6rem 0 6rem 0rem;
    }
    .story_img > img {
        width: 100%;
    }
    .team_heading{
        text-align: center;
    }
    .team_block{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .customer{
        width: auto;
        margin:  2rem;
    }
    /*......................................... contact page.........................................  */
    .contact{
        flex-direction: column;
     align-items: center;
       }
    .contact_form {
        margin: 7.44rem 0 0.5rem 0;
    }
    .company {
        margin: 0 0 8rem 0;
    }
      /*......................................... cart page.........................................  */
      .cart{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 3rem ;
    }
    .cart_img >img{
        width: 100%;
     }
    .cart_details{
        width: 39rem;
        margin: 0 auto;
    }
    .modal_details{
        flex-direction: column;
        align-items: center;
        
    }
    .modal-content{
        width: 42rem ;
    }
    .modal_img > img {
        width: 100%;
    }
  
    .FAQ_block{
        margin: 7rem 2rem;
        width: 45rem;
    }
    .FAQ_link >img{
        position: absolute;
        left: 43rem;
       
    }
    .top_scroll{
        top: 57rem;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .container {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;

    }

    /* design starts */
    .design_content>p {
        width: 63%;
    }
    /* idea start */
    .ideas_content ,.ideas_block{
        gap: 1rem;
    }
    .ideas_img > img {
        width: 30rem;
    }
    .ideas_text > p {
        padding: 1rem 0rem 0rem 0;
    }
    /* retail starts */
   
    .retail_img {
        flex-basis: 50rem;
    }

    .retail_text {
        flex-basis: 51rem;
        padding: 7.8rem 0 4rem 4.5rem;
    }

    .retail_img>img {
        width: 35rem;
    }
    /* products */
    .product_img >a img  {
        width: 18rem !important;
    }
    .heart_icon{
        left: 15.4rem;
    }
 
     /* footer */
     .footer_bg {
        padding: 3rem;
    }
    .footer_content{
        gap: 7rem;
    }
    /*......................................... story page.........................................  */
    .story_heading {
        padding: 6rem 0 0 4rem;
    }
    .story_img > img {
        width: 32rem;
    }
    .team_box{
        padding: 1rem;
        gap: 0rem;
    }
    .block_info {
        padding: 1rem 1.5rem 1rem 0.5rem;
    }
      /*......................................... contact page.........................................  */
    .contact {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    .form >input,textarea {
    width: 25.5rem;
    }
    .form >textarea {
        width: 25.5rem;
        }
    /*......................................... cart page.........................................  */
    .cart{
        gap: 2rem;
    }
    .top_btn > a:first-child {
        padding: 1rem 0.5rem;
    }
    .top_btn > a:first-child > small {
        padding-left: 2rem;
    }
    .top_btn > a:last-child {
        padding: 1rem 1.5rem;
    }
    .dropdown::after {
        padding-left: 3rem;
    }
    .top_btn > button {
        padding: 1rem 1.5rem;
        margin-left: 0.5rem;
    }
}